.input:focus {
    outline: none;
    border: darkolivegreen solid 2px;
}

.superInput {
    margin: 50px;
    color: darkolivegreen;
}

.errorInput {
    margin: 10px;
    color: black;
    border: darkred solid 2px;
}

.error {
    color: darkred;
    margin-left: 15px;
    margin-top: -16px;
    font-size: 12px;
}